// generate by excelreader
package {{.Pkg}};

import java.util.Collection;
import java.util.HashMap;
import java.util.Map;

public class {{.MgrBasename}} {
	{{range .Classes}}
	public static class {{.Name}}Mgr {
		private Map<Integer, {{$.Basename}}.{{.Name}}> itemMap = new HashMap<Integer, {{$.Basename}}.{{.Name}}>();

		public void reload() {
			byte[] bytes = Resources.Load("{{.Name}}");
			try {
				{{$.Basename}}.{{.Name}}Array itemArray = {{$.Basename}}.{{.Name}}Array.parseFrom(bytes);
				Map<Integer, {{$.Basename}}.{{.Name}}> newItemMap = new HashMap<Integer, {{$.Basename}}.{{.Name}}>();
				for (int i = 0; i < itemArray.getKeysCount(); i++) {
					newItemMap.put((int)itemArray.getKeys(i), itemArray.getItems(i));
				}
				this.itemMap = newItemMap;
			} catch (Exception e) {
				throw new RuntimeException(e);
			}
		}

		public {{$.Basename}}.{{.Name}} getItem(Integer id)
		{
			return itemMap.get(id);
		}

		public Collection<{{$.Basename}}.{{.Name}}> getAllItem()
		{
			return itemMap.values();
		}
	}
	{{end}}
}